.logo span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 5px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    margin-right: 12px;
    visibility: visible;
}

.social {
    list-style: none;
    display: flex;
}

.social li {
    margin-right: 10px;
}

.logo {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    color: #000;
    display: flex;
    align-items: center;
    font-family: Arial;
}

.social li a {
    border-radius: 100%;
    color: #FFF;
    width: 24px;
    height: 24px;
    background-color: #F26464;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

.logo,
.social a {
    text-decoration: none;
}

.header-inner {
    display: flex;
    justify-content: space-between;
}

.header {
    /* giữ nguyên vị trí khi trang được cuộn */
    position: fixed;    
    top: 0;
    width: 100%;
    background-color: #FFF;
    padding: 70px 0;
}


.banner section h1 {
    font-size: 48px;
    color: #000;
}

.values {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.values strong {
    display: block;
    color: #F26464;
    font-size: 36px;
    font-weight: 800;
}

.values span {
    letter-spacing: 1px;
}

.values li {
    margin-right: 40px;
}

.banner section {
    padding-left: 70px;
}

.heading {
    display: inline-block;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 3px solid #F26464;
    padding-bottom: 7px;
    margin-bottom: 23px;
}

.about-section p {
    color: #373737;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 60px;
}

.button{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #F26464;
    padding: 17px 30px;
    border: 2px solid #F26464;
    border-radius: 60px;
    text-decoration: none;
}

.button-text {
    display: flex;
    justify-content: center;
}

.about-section
{
    padding-top: 60px;
    padding-bottom: 100px;
}

.skills-list li {
    display: inline-block;
    color: #373737;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #FFF;
    border: 1px solid #D7D7D7;
    border-radius: 27px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    
}

.skills-section {
    padding-bottom: 50px;
}

.experience-list ul li {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    padding-left: 28px;
    position: relative;
    margin-bottom: 20px;
}

span.s2 {
    color: #373737;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 30px;
}

.s1 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}

.experience-list p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

*, ::after, ::before{
    box-sizing: border-box;
}

.experience-list section {
    padding-right: 70px;
}

.work-list {
    padding-left: 70px;
    padding-top: 40px;
    padding-right: 70px;
    background-color: #F6F8FA;
    margin-bottom: 40px;
}

.work-list p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.experience-section {
    padding-bottom: 70px;
}

.footer {
    background-color: #000;
    padding: 120px 0;
}

.footer section span {
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 20px;
}

.footer section h4 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}

.footer section p {
    letter-spacing: 1.13px;
    color: #FFF;
    font-size: 18px;
    margin-bottom: 40px;
}

.footer section {
    padding-bottom: 97px;
}

.button:hover
{
    background: #F26464;
    color: #D7D7D7;
    transition-duration: 0.4s;
}

.footer .copy-right
{
    font-size: 18px;
    color:grey;
}

.skills-list {
    padding: 0;
}